@font-face {
    font-family: 'Aquatico';
    src: url('../Aquatico.ttf.woff') format('woff'), url('../Aquatico.ttf.svg#Aquatico') format('svg'), url('../Aquatico.ttf.eot'), url('../Aquatico.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    width:100%;
}

header{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 100%;
}

ul{
    list-style-type:none;
}

nav {
    width: 100%;
    font-family: 'Aquatico', Arial, sans-serif;
}

.sous1 {
    width: 250px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none; /*pour enlever les puces des listes*/
    
    background-color: white;
    width:200px;
    text-align:center;

}
ul li {
    list-style: none;
    float: left;
    width: 290px;
    text-align: center;
    height: 50px;
    line-height: 50px
}
ul li ul li {
        display :none; /*pour cacher le sous menu - attention au ul li ul li*/
        clear : both; /*pour annuler le float left plus haut et que la sous liste d'aligne les un en dessous des autres*/
    }

.pays{
        text-decoration: none;
        color : black; 
    }

ul li:hover ul li {
        display: block;  /*pour faire apparaitre le sous menu - attention au ul li*/               
    }
    ul li:hover {
        border-bottom: 3px rgb(19, 69, 119) solid; /*pour souligner en rouge le menu*/
    }
 ul li ul li:hover {
    border-bottom:3px rgb(19, 69, 119) solid; /*pour souligner en blanc le sous menu*/
}

.bandeau {
    background-color: rgb(19, 69, 119);
    color: white;
    text-align: justify;
    font-size: 18px;
    text-align: center;
    font-family: 'Aquatico', Arial, sans-serif;
    padding: 50px;
    margin-top: 6%;

}

.text { /*text d'introduction : du désert ...*/
    display : flex; 
    margin-left: 10% ;
    margin-right : 10%;
    color: white;
    text-align: justify;
    font-size: 18px;
    font-family: 'Aquatico';
}

.image img {display : none;
}

/*css tableau tarif******************************/

th {
    font-family: 'Aquatico'; /*css première ligne du tableau*/
    color : rgb(19, 69, 119); 
}

th {
    width: 130px;
}

tr {
    height: 80px;
}

table tbody tr:nth-child(odd) { /*css tableau : background 1/2 en bleu*/
    background-color: rgb(199, 221, 243); 
}

table {
    margin-top: 80px;
    margin-left : auto;
    margin-right: auto;
    font-family: arial;
    border-collapse: collapse;
    text-align: center; 
}





/* CSS tableau prix en FLEXBOX */

.tableau1 {
    margin-top: 80px;
}

.ligne1 { /*css première ligne du tableau*/
    display : flex; 
    font-family: 'Aquatico'; 
    text-align: center;
    align-items: center;
    justify-content: center;
}

span {
    width: 200px;
    height : 80px;
    display : flex; /*css des cases du tableau pour centrer le texte*/
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.ligne { /*css des lignes du tableau sauf la 1ère*/
    display : flex; 
    font-family: Arial, Helvetica, sans-serif; 
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}

.ligne :nth-child(2n) { /*css tableau : background 1/2 en bleu*/
    background-color: rgb(199, 221, 243); 
}

.icons {   /*css logo calendrier - avion pour la taille*/
        width : 20%; 
    }

/*css boutton 'je réserve'*********************/
    
.bouton {
    display: block;
    padding: 5px 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    border-radius: 10px;
    font-family: 'Aquatico'; 
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    background-color: rgb(19, 69, 119);
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top:5%;
}

.bouton:hover{    /*css animation boutton 'je réserve'*/
    animation: animbouton 0.5s linear forwards;
}

@keyframes animbouton {
    0% { background-color: rgb(19, 69, 119);
        width: 100px;
        color : white;
    }
    100% { 
        background-color: rgb(75, 131, 187);
        width: 200px;
        color:yellow; 
        } 
    }
 /* fin css boutton 'je réserve'*********************/

/* PIED DE PAGE FOOTER*/
footer {
    display: flex;
    background-color: rgb(19, 69, 119);
    width: 100%;
    height: 39%;
    font-family: 'Aquatico', Arial, sans-serif;
    color: white;
    margin-top: 2%;
    flex-direction: column;
}

.footz {
    width: 100%;
    margin-bottom: 1%;
    margin-top: 1%;
    align-items: center;
}

.icon {
    width: 2%;
    text-align: center;
}

.logofoot, .newsletter {
    text-align: center;
}

.logofoot {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.email {
    width: 10%;
    height: 9%;
    padding: 12px 50px 10px 20px;
    border-radius: 30px;
    background-color: #f5f5f5;
    border: none;
    min-width: 105px;
}

.style_submit {
    line-height: 41px;
    padding: 0px 5px;
    background-color: #226ED1;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-size: .75rem;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
}


.icon1 {
    width: 2%;
}

.icon2 {
    width: 1%;
}

.newsletter {
    margin-top: 1%;
}

.logoss {
    display: flex;
    margin-left: 1%;
}

.newfoot {
    display: flex;
    margin-top: 1%;
    width: 100%;
    padding-top: 0%;
    padding-bottom: 1%;
    text-align: initial;
    background-color: #184594;
    font-size: 11px;
    font-family: 'Arial';
    flex-wrap: wrap;
}

.iconbas {
    width: 42px;
}

.tapeur1, .tapeur2 {
    width: 30%;
    display: flex;
    margin-left: 3%;
    padding-top: 1%;
}

.tapeur4, .tapeur5 {
    display: flex;
    margin-left: 3%;
    width: 30%;
    padding-top: 1%;
}

p2 {
    text-align: center;
    margin-top: 4%;
}

.tapeur3, .tapeur6 {
    width: 30%;
    margin-left: 4%;
    display: flex;
    padding-top: 1%;
}

/* FIN PIED DE PAGE FOOTER*/
